In [432]:
import pandas as pd

In [433]:
schools_path = "Resources/schools_complete.csv"
schoolsdf = pd.read_csv(schools_path)
schoolsdf

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [434]:
students_path = "Resources/students_complete.csv"
studentsdf = pd.read_csv(students_path)
studentsdf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [435]:
#combine data using 
SchoolTotaldf = pd.merge(studentsdf,schoolsdf, on="school_name", how="left")
SchoolTotaldf

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [436]:
#DISTRICT SUMMARY
#Calculate the total number of schools
totalschools = len(SchoolTotaldf["School ID"].unique())
totalschools

15

In [437]:
#Calculate the total number of students
totalstudents = len(SchoolTotaldf["Student ID"].unique())
totalstudents

39170

In [438]:
#Calculate the total budget
totalbudget = schoolsdf["budget"].sum()
totalbudget

24649428

In [439]:
#Calculate the average math score
mathaverage = SchoolTotaldf["math_score"].mean()
mathaverage

78.98537145774827

In [440]:
#Calculate the average reading score
readaverage = SchoolTotaldf["reading_score"].mean()
readaverage

81.87784018381414

In [441]:
#Calculate the percentage of students with a passing math score (70 or greater)
    #count the number of students with pass score
mathpassdf = SchoolTotaldf.loc[SchoolTotaldf["math_score"]>=70, :]
#mathpassdf

mathpasscount = mathpassdf["Student ID"].count()
#mathpasscount
#mathpass = len(SchoolTotaldf.loc[SchoolTotaldf["math_score"]>=70, :])
#mathpass
#mathpass = (len(SchoolTotaldf.loc[SchoolTotaldf["math_score"]>=70,:])/totalstudents)
#mathpass
masthpasspercent = mathpasscount/totalstudents
masthpasspercent

0.749808526933878

In [442]:
#Calculate the percentage of students with a passing reading score (70 or greater)

readpassdf = SchoolTotaldf.loc[SchoolTotaldf["reading_score"]>=70,:]
readpassdf

readpasscount = readpassdf["Student ID"].count()
#readpasscount

#readpass = len(SchoolTotaldf.loc[SchoolTotaldf["reading_score"]>=70,:])
#readpass
readpasspercent = readpasscount/totalstudents
readpasspercent

0.8580546336482001

In [443]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)

#df.loc[(df["B"] > 50) & (df["C"] == 900), "A"]
bothpassdf = SchoolTotaldf.loc[(SchoolTotaldf["math_score"]>=70) & (SchoolTotaldf["reading_score"]>=70), :]
#bothpassdf

bothpasscount = bothpassdf["Student ID"].count()
#bothpasscount

bothpasspercent = bothpasscount/totalstudents
bothpasspercent

0.6517232575950983

In [444]:
#Create a dataframe to hold the above results


DistrictSummary = pd.DataFrame({
    "Total Schools":[totalschools],
    "Total Students":[totalstudents],
    "Total Budget":[totalbudget],
    "Average Math Score":[mathaverage],
    "Average Reading Score":[readaverage],
    "% Passing Math":[masthpasspercent],
    "% Passing Reading":[readpasspercent],
    "% Overall Passing":[bothpasspercent],
    })

DistrictSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [445]:
#Optional: give the displayed data cleaner formatting
DistrictSummary["Total Students"] = DistrictSummary["Total Students"].map("{:,}".format)
DistrictSummary["Total Budget"] = DistrictSummary["Total Budget"].map("${:,.2f}".format)
DistrictSummary["Average Math Score"] = DistrictSummary["Average Math Score"].map("{:.2f}".format)
DistrictSummary["Average Reading Score"] = DistrictSummary["Average Reading Score"].map("{:.2f}".format)
DistrictSummary["% Passing Math"] = DistrictSummary["% Passing Math"].map("{:.2%}".format)
DistrictSummary["% Passing Reading"] = DistrictSummary["% Passing Reading"].map("{:.2%}".format)
DistrictSummary["% Overall Passing"] = DistrictSummary["% Overall Passing"].map("{:.2%}".format)

#.map('{:.2}%'.format)

Schoolsummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [446]:
#SchoolTotaldf
#SCHOOL SUMMARY
#Create an overview table that summarizes key metrics about each school, including:
#  School Name
#  School Type
#  Total Students
#  Total School Budget
#  Per Student Budget
#  Average Math Score
#  Average Reading Score
#  * % Passing Math (The percentage of students that passed math.)
#  * % Passing Reading (The percentage of students that passed reading.)
#  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [447]:
#Starting table
SchoolSummary = schoolsdf
SchoolSummary

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [448]:
SchoolTotaldf.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [449]:
#  * Per Student Budget
SchoolSummary["Per Student Budget"] = SchoolSummary["budget"]/SchoolSummary["size"]
SchoolSummary

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [450]:
schoolgroupmeans = studentsdf.groupby("school_name").agg({'reading_score' : 'mean', 'math_score' : 'mean'})
schoolgroupmeans

                       reading_score  math_score
school_name
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222

In [451]:
schoolgroupmeans = schoolgroupmeans.rename(columns={"reading_score":"Average Reading Score", "math_score":"Average Math Score"})
schoolgroupmeans

                       Average Reading Score  Average Math Score
school_name
Bailey High School                 81.033963           77.048432
Cabrera High School                83.975780           83.061895
Figueroa High School               81.158020           76.711767
Ford High School                   80.746258           77.102592
Griffin High School                83.816757           83.351499
Hernandez High School              80.934412           77.289752
Holden High School                 83.814988           83.803279
Huang High School                  81.182722           76.629414
Johnson High School                80.966394           77.072464
Pena High School                   84.044699           83.839917
Rodriguez High School              80.744686           76.842711
Shelton High School                83.725724           83.359455
Thomas High School                 83.848930           83.418349
Wilson High School                 83.989488           83.274201
Wright High School                 83.955000           83.682222

In [452]:
#  * % Passing Math (The percentage of students that passed math.)

    #count >= 70



#mathpassschool = studentsdf.groupby("school_name")["math_score"].count()
#mathpassschool

    
#mathpassdf = SchoolTotaldf.loc[SchoolTotaldf["math_score"]>=70, :]
#mathpassdf

mathpassschool = pd.DataFrame(mathpassdf.groupby("school_name")["math_score"].count())
mathpassschool


#mathpasscount = mathpassdf["Student ID"].count()
#mathpasscount
#mathpass = len(SchoolTotaldf.loc[SchoolTotaldf["math_score"]>=70, :])
#mathpass
#mathpass = (len(SchoolTotaldf.loc[SchoolTotaldf["math_score"]>=70,:])/totalstudents)
#mathpass
#masthpasspercent = mathpasscount/totalstudents
#masthpasspercent

                       math_score
school_name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [453]:
mathpassschool = mathpassschool.rename(columns={"math_score":"Passing Math Count"})
mathpassschool

                       Passing Math Count
school_name
Bailey High School                   3318
Cabrera High School                  1749
Figueroa High School                 1946
Ford High School                     1871
Griffin High School                  1371
Hernandez High School                3094
Holden High School                    395
Huang High School                    1916
Johnson High School                  3145
Pena High School                      910
Rodriguez High School                2654
Shelton High School                  1653
Thomas High School                   1525
Wilson High School                   2143
Wright High School                   1680

In [454]:
readpassschool = pd.DataFrame(readpassdf.groupby("school_name")["reading_score"].count())
readpassschool

                       reading_score
school_name
Bailey High School              4077
Cabrera High School             1803
Figueroa High School            2381
Ford High School                2172
Griffin High School             1426
Hernandez High School           3748
Holden High School               411
Huang High School               2372
Johnson High School             3867
Pena High School                 923
Rodriguez High School           3208
Shelton High School             1688
Thomas High School              1591
Wilson High School              2204
Wright High School              1739

In [455]:
readpassschool = readpassschool.rename(columns={"reading_score":"Passing Reading Count"})
readpassschool

                       Passing Reading Count
school_name
Bailey High School                      4077
Cabrera High School                     1803
Figueroa High School                    2381
Ford High School                        2172
Griffin High School                     1426
Hernandez High School                   3748
Holden High School                       411
Huang High School                       2372
Johnson High School                     3867
Pena High School                         923
Rodriguez High School                   3208
Shelton High School                     1688
Thomas High School                      1591
Wilson High School                      2204
Wright High School                      1739

In [456]:
bothpassdf.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [457]:
bothpassschool = bothpassdf.groupby("school_name").agg({'reading_score' : 'count', 'math_score' : 'count'})
bothpassschool

                       reading_score  math_score
school_name
Bailey High School              2719        2719
Cabrera High School             1697        1697
Figueroa High School            1569        1569
Ford High School                1487        1487
Griffin High School             1330        1330
Hernandez High School           2481        2481
Holden High School               381         381
Huang High School               1561        1561
Johnson High School             2549        2549
Pena High School                 871         871
Rodriguez High School           2119        2119
Shelton High School             1583        1583
Thomas High School              1487        1487
Wilson High School              2068        2068
Wright High School              1626        1626

In [458]:
bothpassschool = bothpassschool.rename(columns={"reading_score":"Overall Passing Count"})
bothpassschool

                       Overall Passing Count  math_score
school_name
Bailey High School                      2719        2719
Cabrera High School                     1697        1697
Figueroa High School                    1569        1569
Ford High School                        1487        1487
Griffin High School                     1330        1330
Hernandez High School                   2481        2481
Holden High School                       381         381
Huang High School                       1561        1561
Johnson High School                     2549        2549
Pena High School                         871         871
Rodriguez High School                   2119        2119
Shelton High School                     1583        1583
Thomas High School                      1487        1487
Wilson High School                      2068        2068
Wright High School                      1626        1626

In [459]:
bothpassschool = bothpassschool.drop(["math_score"], axis = 1)
bothpassschool

                       Overall Passing Count
school_name
Bailey High School                      2719
Cabrera High School                     1697
Figueroa High School                    1569
Ford High School                        1487
Griffin High School                     1330
Hernandez High School                   2481
Holden High School                       381
Huang High School                       1561
Johnson High School                     2549
Pena High School                         871
Rodriguez High School                   2119
Shelton High School                     1583
Thomas High School                      1487
Wilson High School                      2068
Wright High School                      1626

In [460]:
#School Name
#  School Type
#  Total Students
#  Total School Budget
#  Per Student Budget
#  Average Math Score
#  Average Reading Score
#  * % Passing Math (The percentage of students that passed math.)
#  * % Passing Reading (The percentage of students that passed reading.)
#  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [461]:
#join all tables together
#SchoolSummary
#schoolgroupmeans
#mathpassschool
#readpassschool
#bothpassschool
#pd.merge(pd.merge(df1,df2,on='name'),df3,on='name')

merge = pd.merge(pd.merge
                 (pd.merge
                          (pd.merge(SchoolSummary,schoolgroupmeans, on="school_name"), 
                                   mathpassschool, on="school_name"), 
                          readpassschool, on="school_name"),
                 bothpassschool, on="school_name") 
merge

,School ID,school_name,type,size,budget,Per Student Budget,Average Reading Score,Average Math Score,Passing Math Count,Passing Reading Count,Overall Passing Count
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,2372,1561
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,2381,1569
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688,1583
3,3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,3748,2481
4,4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426,1330
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,2204,2068
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,1803,1697
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,4077,2719
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,411,381
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,923,871
10,10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,1739,1626
11,11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,3208,2119
12,12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,3867,2549
13,13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,2172,1487
14,14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,1591,1487

In [462]:
dropschoolID = merge.drop(["School ID"], axis = 1)
dropschoolID

,school_name,type,size,budget,Per Student Budget,Average Reading Score,Average Math Score,Passing Math Count,Passing Reading Count,Overall Passing Count
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,2372,1561
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,2381,1569
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688,1583
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,3748,2481
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426,1330
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,2204,2068
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,1803,1697
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,4077,2719
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,411,381
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,923,871
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,1739,1626
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,3208,2119
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,3867,2549
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,2172,1487
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,1591,1487

In [480]:
reindex = dropschoolID.set_index("school_name")
reindex
#df = original_df.set_index("column name")

,type,size,budget,Per Student Budget,Average Reading Score,Average Math Score,Passing Math Count,Passing Reading Count,Overall Passing Count
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,2372,1561
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,2381,1569
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688,1583
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,3748,2481
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426,1330
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,2204,2068
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,1803,1697
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,4077,2719
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,411,381
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,923,871
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,1739,1626
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,3208,2119
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,3867,2549
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,2172,1487
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,1591,1487

In [481]:
#then chang Pass Count columns to percentage columns
#reindex["% Passing Math"] = 
reindex["Passing Math Count"] = reindex["Passing Math Count"]/reindex["size"]
reindex["Passing Reading Count"] = reindex["Passing Reading Count"]/reindex["size"]
reindex["Overall Passing Count"] = reindex["Overall Passing Count"]/reindex["size"]

reindex

,type,size,budget,Per Student Budget,Average Reading Score,Average Math Score,Passing Math Count,Passing Reading Count,Overall Passing Count
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.656839,0.813164,0.535139
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.659885,0.807392,0.532045
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.938671,0.958546,0.898921
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.667530,0.808630,0.535275
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.938677,0.965396,0.905826
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.941335,0.970398,0.913348
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.666801,0.819333,0.546423
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.925059,0.962529,0.892272
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.945946,0.959459,0.905405
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.933333,0.966111,0.903333
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.663666,0.802201,0.529882
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.660576,0.812224,0.535392
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.683096,0.792990,0.542899
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.932722,0.973089,0.909480

In [482]:
#rename columns
reindex = reindex.rename(columns={
                                  "type":"School Type",
                                  "size":"Total Students",
                                  "budget":"Total School Budget",
                                  "Passing Math Count":"% Passing Math",
                                  "Passing Reading Count":"% Passing Reading",
                                  "Overall Passing Count":"% Overall Passing",
                                  })

#reoder columns
reindex = reindex[[
    "School Type",
    "Total Students",
    "Total School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]

#format

reindex["Total School Budget"] = reindex["Total School Budget"].map("${:,.2f}".format)
reindex["Per Student Budget"] = reindex["Per Student Budget"].map("${:,.2f}".format)
reindex["Average Math Score"] = reindex["Average Math Score"].map("{:.2f}".format)
reindex["Average Reading Score"] = reindex["Average Reading Score"].map("{:.2f}".format)
reindex["% Passing Reading"] = reindex["% Passing Reading"].map("{:.2%}".format)
reindex["% Overall Passing"] = reindex["% Overall Passing"].map("{:.2%}".format)

#Sort index
SchoolSummaryTable = reindex.sort_index(ascending=True)
SchoolSummaryTable

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,0.666801,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,0.941335,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,0.659885,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,0.683096,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,0.933924,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,0.667530,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,0.925059,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,0.656839,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,0.660576,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,0.945946,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,0.663666,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,0.938671,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,0.932722,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,0.938677,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,0.933333,96.61%,90.33%

In [251]:
#Optional: give the displayed data cleaner formatting
#DistrictSummary["Total Students"] = DistrictSummary["Total Students"].map("{:,}".format)
#DistrictSummary["Total Budget"] = DistrictSummary["Total Budget"].map("${:,.2f}".format)
#DistrictSummary["Average Math Score"] = DistrictSummary["Average Math Score"].map("{:.2f}".format)
#DistrictSummary["Average Reading Score"] = DistrictSummary["Average Reading Score"].map("{:.2f}".format)
#DistrictSummary["% Passing Math"] = DistrictSummary["% Passing Math"].map("{:.2%}".format)
#DistrictSummary["% Passing Reading"] = DistrictSummary["% Passing Reading"].map("{:.2%}".format)
#DistrictSummary["% Overall Passing"] = DistrictSummary["% Overall Passing"].map("{:.2%}".format)